/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.top-title{
  margin:30px;
}

.top-title h1{
  font-weight:bold;
}

.top-text{
  margin-left:70px;
  font-size:16px;
}

.top-text p{
  margin-bottom:40px;
}

.top-text span{
  font-weight:bold;
}

.new p{
  font-size:16px;
  font-weight:lighter;
}

.index {
  padding:30px;
}

.index-all {
  padding-bottom:30px;
}

td{
  padding-bottom:10px;
  padding-right:6px;
  padding-left:6px;
}

.show{
  padding:30px;
}

.show-title{
  padding-bottom:30px;
  padding-left:30px;
}

.show-body{
  padding-bottom:30px;
  padding-left:30px;
}

.show-push{
  display:inline-block;
}

.show-list h4{
  display:inline-block;
}

.edit {
  padding:30px;
}

.edit-title{
  padding-bottom:15px;
}

.edit-body{
  padding-bottom:15px;
}

.edit-update{
  padding-bottom:15px;
}